@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

:root {


    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

}

body {
    background-color: var(--Light-blue);
}

.main-container {
    max-width: 95rem;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: 0.95fr 2fr;
    gap: 5rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--White);
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    padding: 4rem;
    background: url('./assets/images/bg-sidebar-desktop.svg') no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.clicked {
    background-color: var(--Light-blue);
    color: var(--Marine-blue) !important;
}

.step-number {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 100%;
    border: 1px solid var(--Alabaster);
    color: var(--Magnolia);
    display: flex;
    justify-content: center;
    align-items: center;
}



.step-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.step-h2 {
    font-size: 1.3rem;
    color: var(--Cool-gray);
    text-transform: uppercase;
}

.step-h1 {
    font-size: 1.5rem;
    color: var(--Magnolia);
    text-transform: uppercase;
}

.right-section {
    padding: 4rem 8rem 1rem 5rem;
}

/* STEP-1-PART  */

.step-1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.top-heading-section {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.main-heading {
    font-size: 3.2rem;
    color: var(--Marine-blue);
}

.main-para {
    font-size: 1.7rem;
    color: var(--Cool-gray);
    line-height: 2.8rem;
}

.middle-info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.common-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.common-data label {
    font-size: 1.5rem;
    color: var(--Marine-blue);
}

.common-data input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: var(--Cool-gray);
    border: 1px solid var(--Cool-gray);
    cursor: pointer;
}

.error{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Strawberry-red);
}

.bottom-container {
    display: flex;
    justify-content: flex-end !important;
    width: 100%;
}

.next-btn,
.form-submit-btn {
    font-size: 1.7rem;
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
    color: var(--Magnolia);
    background-color: var(--Marine-blue);
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.none {
    display: none !important;
}

/* STEP-2-PART  */

.step-2-container,
.step-3-container,
.step-4-container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.plan-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.common-plan {
    padding: 1.2rem 1rem;
    border: 1px solid var(--Cool-gray);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 1rem;
    cursor: pointer;
}

.clicked-plan {
    border: 1px solid var(--Purplish-blue) !important;
    background-color: var(--Light-gray) !important;
}

.plan-icon {
    max-width: 50%;
    height: auto;
}

.plan-data {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.plan-name {
    font-size: 2rem;
    color: var(--Marine-blue);
}

.plan-price {
    font-size: 1.8rem;
    color: var(--Cool-gray);
}


.plan-free {
    font-size: 1.7rem;
    color: var(--Marine-blue);
    display: none;
}

.plan-time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--Light-gray);
    padding: 2rem 0;
    border-radius: 0.5rem;
}

.monthly-name {
    font-size: 1.8rem;
    color: var(--Marine-blue);
}

.slider-container {
    width: 5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: var(--Marine-blue);
    position: relative;
    cursor: pointer;
    display: flex;
}

.slider {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100%;
    background-color: var(--Magnolia);
    position: absolute;
    top: 0.35rem;
    left: 0.4rem;
}

.left-slide-btn {
    width: 2.4rem;
    height: 2.5rem;
}

.right-slide-btn {

    width: 2.4rem;
    height: 2.5rem;

}

.slide-right {
    transform: translateX(2.3rem);
}

.yearly-name {
    font-size: 1.8rem;
    color: var(--Cool-gray);
}

.plan-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
}

.go-back {
    text-decoration: none;
    font-size: 1.9rem;
    color: var(--Cool-gray);
}

/* STEP-3-START  */

.plan-free-2 {

    font-size: 1.7rem;
    color: var(--Marine-blue);
}

.middle-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid var(--Cool-gray);
    border-radius: 1rem;
    cursor: pointer;
}



.left-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.left-heading-container input {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/* STEP-4-PART  */

.step-4-middle-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.top-summary-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--Light-gray);
    padding: 2.5rem;
    border-radius: 1rem;
}

.arcade-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--Cool-gray);
}

.arcade-div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.left-arcade-container {
    display: flex;
    gap: 2rem;
}

.change-link {
    font-size: 1.8rem;
    color: var(--Purplish-blue);
}

.common-4-container,.flex-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-4-plan,
.common-number {
    font-size: 1.9rem;
    color: var(--Cool-gray);
}

.calculated-plan,
.calculated-plan-heading {
    font-size: 3rem;
    color: var(--Purplish-blue);
}

.bottom-summary-section {
    padding: 2rem;
}

/* STEP-5-PART  */

.step-5-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 10rem 0;
}

.thanks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
}


/* MEDIA SECTION FOR LAPTOP SCREENS  */

@media screen and (max-width:1024px) {
    html {
        font-size: 60%;
    }

    .main-container {
        margin: 10rem 2rem;
        grid-template-columns: 1fr 2fr;
    }

    .right-section {
        padding: 3rem 5rem 1rem 2rem;
    }
}

/* MEDIA SECTION FOR TAB SCREENS  */

@media screen and (max-width:768px) {

    html {
        font-size: 52%;
    }

    .main-container {
        grid-template-columns: 1fr;
    }

    .left-section {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        background: url('./assets/images/bg-sidebar-mobile.svg') no-repeat;
        background-size: cover;
        height: 34rem;
    }

    .step-data {
        display: none;
    }

    .step-number {
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        font-weight: 700;
    }

    .right-section {
        position: absolute;
        top: 15rem;
        left: 2rem;
        right: 2rem;
        padding: 5rem;
        background-color: var(--Alabaster);
        border-radius: 1rem;
    }

    .plan-bottom-container {
        position: fixed;
        padding: 2rem;
        left: 0;
        bottom: 0;
        background-color: var(--Alabaster);
        border-radius: 1rem;
    }

    .plan-container {
        grid-template-columns: 1fr;
    }

    .common-plan {
        flex-direction: row;
    }
}